@charset "utf-8";

/* ==========================================================================
   CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

  a { outline: 0; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }


/*
========================================================================== */

/*
Fonts
*/

@font-face {
  font-family: Gotham Rounded Medium;
  src: url("../fonts/GothamRounded-Medium.otf");
  src: url("../fonts/GothamRounded-Medium.otf") format("opentype"), url("../fonts/GothamRoundedMedium_21022.ttf") format("ttf"), url("../fonts/GothamRounded-MediumItalic.otf") format("otf ");
  font-style: normal;
  font-weight: 200; }

  @font-face {
    font-family: Gotham Rounded Book;
    src: url("../fonts/GothamRounded-Book.otf");
    src: url("../fonts/GothamRounded-Book.otf") format("opentype"), url("../fonts/GothamRoundedBook_21018.ttf") format("ttf"), url("../fonts/GothamRounded-BookItalic.otf") format("otf");
    font-style: normal;
    font-weight: 200; }

    @font-face {
      font-family: Gotham Bold;
      src: url("../fonts/GothamRounded-Bold.otf");
      src: url("../fonts/GothamRounded-Bold.otf") format("opentype"), url("../fonts/GothamRoundedBold_21016.ttf") format("ttf"), url("../fonts/GothamRounded-BoldItalic.otf") format("otf");
      font-style: normal;
      font-weight: 200; }

      @font-face {
        font-family: Gotham Rounded Light;
        src: url("../fonts/GothamRounded-Light.otf");
        src: url("../fonts/GothamRounded-Light.otf") format("opentype"), url("../fonts/GothamRoundedLight_21020.ttf") format("ttf"), url("../fonts/GothamRounded-LightItalic.otf") format("otf");
        font-style: normal;
        font-weight: 200; }

/*
============================================================================*/


/*Header style start*/
body, select, input,
textarea, button { font-family: "Gotham Rounded Book"; }

a { text-decoration: none; }

li { list-style-type: none; }

header {
  width: 100%;
  box-shadow: 0px 1px 0px #ccc;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 1;
}

.wrapper {
  max-width: 1250px;
  width: 89%;
  margin: 0 auto;
  padding: 0 15px;
}

h1, nav, nav ul li {
  display: inline-block;
  vertical-align: top;
}

nav ul li { margin: 0 0 0 -3px; }

nav ul li:last-child { padding: 0; }

h1 { padding: 8px 0; }

h1 a {
  width: 300px;
  height: 55px;
  display: inline-block;
  background: url("../images/logo.png");
  text-indent: -9999px;
}

nav { float: right; }

nav ul li a {
  padding: 26.3px;
  display: block;
  text-transform: uppercase;
  color: #2f3e5c;
  font-size: 15px;
  font-weight: 300;
}

nav ul li a:hover, .active {
  color: #fff;
  background: #70cbd2;
  font-weight: 700;
}
/*Header style end*/

/*footer style starts*/
footer {
  width: 100%;
  background-color: #e8f2f5;
}

.foot-content {
  background: url("../images/foot-bg.png") top center no-repeat;
  padding: 38px 0; }

  .foot-content h2 {
    margin: 15px 0 20px 0;
    text-align: center;
  }

  .foot-content h2 a {
    width: 300px;
    height: 55px;
    display: inline-block;
    background: url("../images/logo-foot.png");
    text-indent: -9999px;
  }

  .foot-content ul {
    display: inline-block;
    margin: 0 0 0 19%;
    vertical-align: top;
  }

  .foot-content ul:first-child { margin: 0; }

  .foot-content ul li { margin: 5px 0; }

  .foot-content ul li a, .foot-content li span {
    color: #000;
    font-weight: 300;
    font-size: 14px;
    line-height: 35px;
  }

  .foot-content ul li a:hover { text-decoration: underline; }

  .foot-content ul li #sub-email {
    padding: 15px 11px;
    display: inline-block;
    vertical-align: top;
    background: #70cbd2;
    color: #fff;
    line-height: 0;
    font-weight: 700;
    font-size: 18px;
  }

  .foot-content ul li #sub-email:hover { background: #359fa7; }

  .fb, .tw { display: inline-block; }

  .tw { margin: 0 2% 32px; }

  .foot-content ul li a.fb, .foot-content ul li a.tw {
    border-radius: 50%;
    background-color: #70cbd2;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
  }

  .fb { background: url("../images/facebook.png") 11px 7px no-repeat; }

  .tw { background: url("../images/twitter.png") 7px 9px no-repeat; }

  .foot-content ul li a.fb:hover {
    background: url("../images/facebook.png") 11px 7px no-repeat;
    background-color: #3e9ca3 ;  }

    .foot-content ul li a.tw:hover {
      background: url("../images/twitter.png") 7px 9px no-repeat;
      background-color: #3e9ca3 ; }

      .foot-content .foot-irda {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        line-height: 20px;
        color: #000;
      }

      .foot-content .foot-irda:first-child { margin: 0; }

      .foot-content ul li input {
        width: 135px;
        height: 30px;
        border: none;
        outline: none;
        padding: 0 0 0 10px;
        color: #ccc;
        font-size: 11px;
        font-weight: 300;
      }
      /*footer style end*/


      /*content style start*/
      .container { width: 100%; }

      .main-content {
        margin: 62px 0 0 0;
        background: url("../images/main-banner.jpg") top center;
        background-size: cover;
      }

      .main-text {
        padding: 0 8% 288px 0;
        text-align: right;
      }

      .main-text .main-life {
        margin: 0 13.7% 0 0;
        padding: 138px 0 0 0;
      }

      .main-text h2 {
        font-size: 56px;
        font-weight: 500;
        display: inline-block;
        color: #2f3e5c;
      }

      .main-text h3 {
        font-size: 59px;
        display: inline-block;
        margin: 0 0 0 20px;
        color: #2f3e5c;
        font-weight: 700;
      }

      .main-text h4 {
        font-size: 28.5px;
        font-weight: 500;
        display: inline-block;
        color: #2f3e5c;
      }

      .main-text .main-gq { margin: 49px 12% 25px 0; }

      .main-text a {
        border-radius: 6px;
        display: inline-block;
        background: #70cbd2;
        color: #fff;
        vertical-align: top;
        padding: 15px 20px;
      }

      .main-text a:hover { background: #359fa7 }
      .main-text a + a { margin: 0 3%; }

      .btn-car {
        display: inline-block; 
        width: 40px;
        height: 25px;
      }

      .btn-health {
        display: inline-block; 
        width: 25px;
        height: 25px;
      }

      .btn-car { background: url("../images/car.png"); }

      .btn-health { background: url("../images/heart.png"); }

      .t-car, .t-health {
        color: #fff;
        font-weight: 700;
        vertical-align: top;
        display: inline-block;
        margin: 0 0 0 18px;
        font-size: 22.5px;
      }

      .sketch-cont .car-block,
      .sketch-cont .health-block {
        width: 50%;
        text-align: center;
        padding: 70px 0;
        float: left;
      }

      .sketch-cont .car-block {
        background: #70cbd2;
        color: #fff;
        min-height: 265px;
      }

      .sketch-cont .health-block {
        background: #2f3e5c;
        color: #fff;
        min-height: 265px;
      }

      .sketch-cont .car-block h3,
      .sketch-cont .health-block h3 {
        font-size: 35px;
        font-weight: 400;
        line-height: 40px;
        margin: 0 0 20px 0;
      }

      .sketch-cont .car-block p,
      .sketch-cont .health-block p {
        font-size: 16px;
        font-weight: 400;
        width: 44%;
        margin: 20px auto 0;
        line-height: 21px;
      }

      /*.list-insurance { margin: 0 0 60px 0; }*/

      .ins-img span {
        width: 13%;
        margin: 20px 0 0 7%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        font-size: 16px;
        color: #4d4d4d;
      }

      .ins-img img + span { margin: 20px 0 0 13%; }

      .ins-img span:last-child { margin: 20px 0 0 9%; }

      .ins-head {
        margin: 52px 0 0 0;
        text-align: center;
      }

      .ins-gq {
        text-align: center;
        background-color: #8db0db;
      }

      .ins-head h2 {
        margin: 0 0 10px 0;
        color: #2f3e5c;
        font-size: 35px;
        font-weight: 400;
      }

      .ins-gq h2 {
        padding: 16px 0;
        color: #fff;
        font-size: 34px;
        font-weight: 400;
        text-align: center;
      }

      .ins-how h2 { margin: -20px 0 30px 0; }

      .list-insurance .ins-img img {
        width: 70%;
        height: auto;
        margin: 0 auto;
        display: block;
      }

      .ins-thoug {
        width: 40%;
        margin: 0 auto;
        text-align: center;
      }

      .ins-thoug p {
        font-size: 16px;
        margin: 40px 0;
        font-weight: 400;
        color: #4d4d4d;
      }

      .sketch-cont { margin: 60px 0 0 0; }

      .main-testi {
        background: url("../images/testimonialsbg.png");
        background-size: cover;
        text-align: center;
      }

      .main-testi h2 {
        width: 64%;
        font-size: 28px;
        font-weight: 300;
        color: #2f3e5c;
        margin: 0 auto 0;
        line-height: 40px;
        padding: 45px 0 40px 0;
      }

      .main-testi span {
        font-size: 24px;
        font-weight: 300;
        color: #4d4d4d;
        text-align: right;
        display: inherit;
        margin: 0 20% 0 0;
        padding: 0 0 24px 0;
      }

      .easy-wrap {
        width: 60%;
        margin: 60px auto;
      }

      .easy-wrap p {
        margin: 0 3%;
        display: inline-block;
      }

      .easy-wrap p img, .easy-wrap p span {
        display: block;
        text-align: center;
      }

      .easy-wrap p span {
        margin: 15px 0 0 0;
        font-size: 20px;
        font-weight: 600;
      }

      .car-content {
        margin: 7px 0 0 0;
        padding: 354px 0 0 0;
        background: url("../images/car.jpg") top center;
        background-size: cover;
        text-align: center;
      }

      .car-quote { padding: 0 0 130px 0; }

      .car-get h2,
      .health-quote h2 {
        font-size: 35px;
        color: #44516c; 
        font-weight: 600;
      }

      .car-get h2 span,
      .health-get h2 span {
        color: #44516c;
        font-size: 30px;
        font-weight: 300;
      }

      .car-get {
        width: 65%;
        margin: 0 auto;
        padding: 21px 3% 15px;
        border-radius: 4px;
        background: rgba(255,255,255, 0.8);
        text-align: left;
      }

      .car-get div {
        width: 82%;
        display: inline-block;
        position: relative;
      }

      .car-get div.car-sub-btn {
        width: 18%;
        margin: -27px 0 0 0;
        float: right;
        display: inline-block;
        vertical-align: top;
      }

      .car-get button {
        border: none;
        background: #fff;
        font-size: 19px;
        color: #008ed6;
        font-weight: 500;
        outline: none;
      }

      .car-get button.btn-quote {
        border-radius: 4px;
        color: #fff;
        background: #70cbd2;
      }

      .car-get button.btn-quote:hover { background: #359fa7; }

      .car-get button a {
        padding: 15px 15px;
        display: inline-block;
        color: #fff;
        font-weight: 600;
      }

      .car-get select {
        width: 204px;
        height: 48px;
        padding: 5px;
        border-radius: 4px;
        border: 3px solid #C5D6EA;
        color: #2f3e5c;
        font-size: 13px;
        outline: none;
        cursor: pointer;
      }

      .car-get select.sel-rto { width: 304px; }

      .car-get input {
        width: 178px;
        height: 20px;
        margin: 25px 0;
        padding: 10px;
        outline: none;
        border: 3px solid #C5D6EA;
        color: #2f3e5c;
      }

      /*.car-sel,
      .car-get input.car-sel { margin: 0 4%; }*/

      .car-get .car-list { display: none; } 

.car-get .car-list li {
      position: absolute;
    top: 39px;
    }

      .car-get .dropdown-menu,
      .car-re-data .dropdown-menu {
        position: absolute;
        width: 200px;
      }

      .car-fis-ul .dropdown-menu { margin: 25px 0 10px; }

      .car-sec-ul .dropdown-menu { margin: 23px 0 0 3px; }

      .car-get .dropdown-menu li,
      .car-re-data .dropdown-menu li {
        background: #4d4d4d;
      }

      .car-get .dropdown-menu li a,
      .car-re-data .dropdown-menu a {
        color: #fff;
        padding: 5px;
        display: block;
        font-size: 14px;
      }

      .car-get .dropdown-menu li:hover,
      .car-get .dropdown-menu li a:hover,
      .car-re-data .dropdown-menu li:hover, 
      .car-re-data .dropdown-menu li a:hover {
        color: #70cbd2;
        background: #fff;
      }

      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
      }

      ::-webkit-input-placeholder {
        color:    #2f3e5c;
      }
      :-moz-placeholder {
        color:    #2f3e5c;
      }
      ::-moz-placeholder {
        color:    #2f3e5c;
      }
      :-ms-input-placeholder {
        color:    #2f3e5c;
      }

      .car-profile-content {
        margin: 10px auto 0;
        width: 90%;
      }

      .car-chk-text,
      .health-chk-text { margin: 10px 0; }

      .car-chk-text span,
      .health-chk-text span {
        color: #2f3e5c;
        cursor: pointer;
      }

      .car-chk-cont .car-profile-content,
      .health-chk-cont .health-profile-content { margin: 100px auto 0; }

      .health-profile-content {
        margin: 98px auto 0;
        width: 90%;
      }

      .car-profile-text span,
      .health-profile-text span {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        margin: 0 20px 0 0;
      }

      .car-profile-text a,
      .health-profile-text a,
      .health-chk-text h2 {
        width: 15%;
        padding: 6px 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-weight: 500;
        font-size: 12px;
        color: #363636;
        text-align: center;
        outline: none;
      }

      .car-profile-text a:hover,
      .health-profile-text a:hover {
        color: #fff;
        background: #587291;
        border: none;
      }

      .car-profile-text a i,
      .health-profile-text a i {
        vertical-align: top;
        margin: 17px 5px 0 0;
      }

      .car-refine,
      .health-refine,
      .car-checkout,
      .health-checkout {
        margin: 33px 0 60px 0;
        display: inline-block;
        width: 28%;
        padding: 0;
        background-color: #fbfbfb;
        min-height: 783px;
        vertical-align: top;
      }

      .car-checkout {
        margin: 0 0 60px 0;
        min-height: 885px;
      }

      .health-checkout {
        margin: 0 0 60px 0;
        min-height: 212px;
      }

      .car-re-data,
      .health-re-data {
        border-bottom: 1px solid #ccc;
        padding: 30px 10%;
      }

      .car-re-data h3,
      .health-re-data h3 {
        margin: 5px 0;
        font-size: 16px;
        color: #363636;
        font-weight: 600;
      }

      .car-re-data div p,
      .health-re-data div p {
        font-size: 14px;
        margin: 10px 0;
      }

      .car-re-data select,
      .health-re-data select {
        width: 204px;
        height: 26px;
        border: 1px solid #4d4d4d;
        border-radius: 4px;
        margin: 10px 0;
        color: #2f3e5c;
        outline: none;
        font-size: 14px;
        cursor: pointer;
      }

      .health-re-data input { vertical-align: top; }

      .car-re-data p
      .health-re-data p {
        margin: 10px 0;
        font-size: 14px;
      }

      .car-refine .ref-submit,
      .health-refine .ref-submit {
        width: 160px;
        height: 50px;
        border-radius: 4px;
        margin: 40px 25%;
        text-align: center;
        color: #fff;
        background: #70cbd2;
        font-size: 18px;
        outline: none;
        border: none;
      }

      .car-refine .ref-submit:hover,
      .health-refine .ref-submit:hover { background: #359fa7; }

      .car-re-data label {
        margin: 10px 0;
        display: inline-block;
        font-size: 16px;
        color: #008ed6;
      }

      .car-re-data div p span,
      .health-re-data div p span {
        margin: 10px 0;
        display: block;
        font-size: 14px;
      }

      .car-re-data div span { font-size: 12px; }

      .car-re-data i { cursor: pointer; }

      .car-re-data select,
      .car-re-dis select {
        width: 200px;
        height: 40px;
        padding: 5px;
        margin: 10px 0;
        background-color: #008ed6;
        color: #fff;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
      }

      .car-re-dis select { margin: 10px 0 10px 33px; }

      .car-refine button {
        border: 1px solid #008ed6;
        background: #fff;
        width: 230px;
        height: 36px;
        font-size: 14px;
        color: #008ed6;
        font-weight: 500;
        text-align: left;
        outline: none;
        margin: 10px 0 10px 13px;
      }

      .health-refine button {
        display: inline-block;
        width: 106px;
        text-align: center;
      }

      .act {
        color: #fff !important;
        background: #008ed6 !important;
      }

      .car-re-dis,
      .health-re-dis {
        margin: 25px 0;
        border-top: 1px solid #008ed6;
        border-bottom: 1px solid #008ed6;
      }

      .car-re-add span,
      .car-re-dis span,
      .health-re-add span {
        display: block;
        margin: 15px 0 5px 5%;
        font-size: 21px;
        color: #008ed6;
        font-weight: 600;
      }

      .car-re-add button,
      .health-re-add button { text-align: center; }

      .car-result-data,
      .health-result-data,
      .car-chout-data,
      .health-chout-data {
        min-height: 738px;
        margin: 0 0 60px 2%;
        display: inline-block;
        width: 95%;
        padding: 3%;
        background-color: #fbfbfb;
      }

      .car-chout-data,
      .health-chout-data { width: 65%; }

      .car-result-data { min-height: 738px; }

      .health-result-data { min-height: 868px; }

      .car-sel-info {
        margin: 72px 0 0 0;
        background: #e9e9f0;
      }

      .car-sel-info div {
        display: inline-block;
        width: 21%;
        padding: 20px 6% 13px;
        vertical-align: top;
        border-right: 1px solid #fbfbfb;
        min-height: 103px;
      }

      .car-sel-info div:last-child { border:none; }

      .car-sel-info p {
        font-size: 11px;
        font-weight: 600;
      }

      .car-sel-info span {
        font-size: 14px;
        display: block;
        font-weight: 300;
        margin: 8px 0;
      }

      .car-sel-info .car-name {
        font-size: 20px;
        color: #2f3e5c;
        margin: 9px 0;
        font-weight: 500;
      }

      .car-sel-info .car-idv {
        font-size: 16px;
        color: #4d4d4d;
        margin: 9px 0;
        font-weight: 400;
      }

      .car-chout-data,
      .health-chout-data { padding: 0 2%; }

      .car-wrap-plan,
      .health-wrap-plan {
        vertical-align: top;
        width: 69%;
        display: inline-block;
      }

      .car-plan,
      .health-plan {
        width: 99%;
        padding: 0px 2% 14px;
      }

      .car-chout-plan,
      .health-chout-plan {
        padding: 35px 10%;
        margin: 30px 0;
        background: #fff;
      }

      .car-chout-prop,
      .health-chout-prop { margin: 0 0 10px 0; }

      .car-chout-prop span,
      .health-chout-prop span {
        padding: 10px 16.65px;
        font-size: 18px;
        text-align: center;
        color: #fff;
        display: inline-block;
        background: #70cbd2;
        border-radius: 50%;
        border: 1px solid #fff;
      }

      .car-chout-prop p,
      .health-chout-prop p {
        display: inline-block;
        font-size: 28px;
        font-weight: 300;
        margin: 0 2%;
      }

      .car-plan div,
      .health-plan div { float: right; }

      .car-plan select,
      .health-plan select {
        border: none;
        font-weight: 600;
        font-size: 14px;
        color: #4d4d4d;
        cursor: pointer;
        outline: none;
      }

      .car-plan .car-sort,
      .health-plan .health-sort { color: #000; }

      .car-policy-plan,
      .health-policy-plan {
        background: #fff;
        text-align: center;
      }

      .health-policy-plan {
        padding: 0;
        min-height: 190px;
      }

      .car-policy-plan p,
      .health-policy-plan p {
        display: inline-block;
        width: 32%;
        text-align: center;
        vertical-align: top;
        padding: 20px 0;
        border-right: 4px solid #fbfbfb;
      }

      .health-policy-plan p { min-height: 82px; }

      .car-policy-plan p:first-child {
        float: left;
      }

      .car-policy-plan p span,
      .health-policy-plan p span {
        margin: 5px 0;
        font-size: 14px;
        display: block;
      }

      .car-idv,
      .health-cov {
        color: #44516c;
        font-weight: 600;
      }

      .car-policy-plan .car-premium .car-amt,
      .health-policy-plan .health-premium .health-amt {
        font-size: 23px;
        font-weight: 500;
      }

      i.car-ct-amt i.fa-inr  {
        margin: 11px 0 0 0;
        vertical-align: top;
      }

      .car-policy-plan .car-premium .car-det,
      .health-policy-plan .health-premium .health-det {
        color: #008ed6;
        text-decoration: underline;
        cursor: pointer;
        font-size: 12px;
      }

      .car-premium .car-low,
      .health-premium .health-low {
        color: #00b300;
        font-weight: 600;
      }

      .car-policy-plan p img,
      .health-policy-plan p img {
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 12px 0;
      }

      .car-buy,
      .health-buy {
        text-align: center;
        background: #70cbd2;
        border-radius: 4px;
        margin: 18px 47px 0 0;
        border: none;
        font-size: 18px;
        float: right;
        outline: none;
      }

      .car-buy:hover,
      .health-buy:hover { background: #359fa7; }

      .car-buy a,
      .health-buy a {
        color: #fff;
        padding: 10px 20px;
        display: inline-block;
      }

      .car-buy a:hover,
      .health-buy a:hover { color: #fff; }

      .car-policy-plan .car-idv-cont { border-top: 4px solid #fbfbfb; }

      .car-idv-cont p {
        padding: 15px 0;
        border-right: 4px solid #fbfbfb;
      }

      .car-policy-plan p:last-child,
      .car-idv-cont p:last-child,
      .health-pla-cont p:last-child,
      .health-policy-plan .health-cov-cont p:last-child { border: none; }

      .car-idv-cont span { display: block; }

      .health-policy-plan .health-cov-cont {
        border-top: 4px solid #fbfbfb;
      }

      .health-policy-plan .health-cov-cont p {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        padding: 15px 0;
        border-right: 4px solid #fbfbfb;
        min-height: 70px;
      }

      .health-policy-plan div span {
        display: block;
        font-size: 14px;
      }

      .health-content {
        margin: 63px 0 0 0;
        padding: 327px 0 0 0;
        background: url("../images/health.jpg") top center;
        background-size: cover;
        text-align: center;
      }

      .health-quote { padding: 0 0 130px 0; }

      .health-get button {
        border: none;
        background: #fff;
        font-size: 19px;
        color: #008ed6;
        font-weight: 500;
        outline: none;
      }

      .health-get {
        width: 56%;
        margin: 0 auto;
        padding: 21px 3% 7px;
        border-radius: 4px;
        background: rgba(255,255,255, 0.8);
        text-align: left;
      }

      .health-get input {
        width: 178px;
        height: 20px;
        margin: 25px 0;
        padding: 10px;
        outline: none;
        border: 3px solid #C5D6EA;
        color: #2f3e5c;
      }

      .health-get select {
        width: 204px;
        height: 48px;
        padding: 5px;
        border-radius: 4px;
        margin: 25px 0 0 0;
        outline: none;
        cursor: pointer;
        border: 3px solid #C5D6EA;
        color: #2f3e5c;
      }

      .health-get p {
        display: inline-block;
        width: 65%;
      }

      .health-get p.health-sub-btn {
        width: 21%;
        margin: -17px 14% 0 0;
        float: right;
        display: inline-block;
        vertical-align: top;
      }

      .health-get  button.btn-quote {
        border-radius: 4px;
        color: #fff;
        background: #70cbd2;
      }

      .health-get  button.btn-quote:hover { background: #359fa7; }

      .health-get button a {
        padding: 15px 15px;
        display: inline-block;
        color: #fff;
        font-weight: 600;
      }
      `
      .health-get .gender,
      .health-get .health-pin { margin: 0 4%; }

      .car-ch-ins,
      .health-ch-ins {
        padding: 15px 10%;
        border-bottom: 4px solid #fff;
      }

      .car-ch-ins img,
      .health-ch-ins img {
        width: 50%;
        height: auto;
        margin: 0 10px 10px 0;
      }

      .car-ch-ins span,
      .health-ch-ins span {
        margin: 11px 0;
        font-size: 16px;
      }

      .car-ch-ins span.car-ct-amt,
      .health-ch-ins span.health-ct-amt { font-size: 22px; }

      .car-ch-idv, .car-ch-add, .car-ch-dis,
      .health-ch-cm {
        padding: 30px 10%;
        border-bottom: 1px solid #ccc;
      }

      .car-ch-idv h3, .car-ch-add h3, .car-ch-dis h3,
      .health-ch-cm h3 {
        margin: 0 0 10px;
        font-weight: 600;
      }

      .car-ch-dis { border: none; }

      .car-ch-idv .idv-right,
      .health-ch-cm .cov-right { float: right; }

      .car-ch-add span, .car-ch-dis span {
        display: block;
        font-size: 14px;
      }

      .car-chout-user,
      .health-chout-user { padding: 10px 0; }

      .car-chout-user button,
      .health-chout-user button {
        margin: 0 31px 25px 0;
        border: none;
        width: 90px;
        height: 35px;
        font-size: 19px;
        font-weight: 500;
        outline: none;
        color: #fff;
        background: #70cbd2;
        font-size: 14px;
        text-align: left;
      }

      .car-chout-user button:hover,
      .health-chout-user button:hover { background: #359fa7; }

      .health-chout-user .health-rb { margin: 15px 0 0 0; }

      .car-chout-user input,
      .health-chout-user input {
        width: 40%;
        padding: 10px;
        margin: 14px 5% 0 0;
        box-sizing: border-box;
      }

      .health-chout-user #fname,
      .health-chout-user #lname{ margin: 0 0 15px 5%; }

      input[type="radio"] {
        margin: 0;
      }

      .health-chout-user .health-rb input {
        width: 3%;
        vertical-align: top;
      }

      .car-chout-user p.ch-inp,
      .health-chout-user p.he-inp {
        margin: 25px 0 21px 0;
        text-align: left;
      }

      .car-chout-user #dd,
      .car-chout-user #mm,
      .health-chout-user #dd,
      .health-chout-user #mm {
        width: 9%;
        text-align: center;
        margin: 14px 1% 0 0;
      }

      .health-chout-user #mm {     margin: 0 1% 0 0; }

      .car-chout-user #yyyy,
      .health-chout-user #yyyy {
        width: 12%;
        text-align: center;
      }

      .health-chout-user #yyyy { margin: 0 0 0 -6px; }

      .car-chout-buy,
      .health-chout-buy {
        font-size: 15px;
        text-align: center;
      }

      .car-chout-buy button,
      .health-chout-buy button {
        width: 110px;
        height: 41px;
        margin: 35px 0 14px 0;
        font-size: 16px;
        text-align: center;
        border-radius: 6px;
      }

      .health-chout-buy button {
        width: 160px;
        margin: 20px 0 6px 0;
      }

      .car-chout-user span,
      .health-chout-user span {
        vertical-align: top;
        font-weight: 600;
      }

      .car-chout-user span + span { float: right; }

      .health-chout-user #dd { margin: 0 0 0 16px; }

      textarea {
        padding: 10px;
        margin: 0 0 0 30px;
        resize: none;
      }

      .about-family { color: #fff; }

      .about-family .wrap-family,
      .about-policy .wrap-policy {
        width: 60%;
        margin: 0 auto;
        padding: 60px 0;
      }

      .about-policy .wrap-policy {
        width: 60%;
        padding: 60px 0;
      }

      .about-family img {
        vertical-align: top;
        display: inline-block;
      }

      .about-family h2 {
        margin: 0 0 25px 0;
        font-size: 34px;
        color: #8db0db;
        font-weight: 600;
        text-align: center;
      }

      .about-family h3 {
        font-size: 14px;
        color: #445160;
        display: inline-block;
        width: 65%;
        margin: 0 0 0 7%;
      }

      .about-policy {
        margin: 70px 0 0 0;
        background: #e8f2f5;
      }

      .about-policy h2 {
        font-size: 34px;
        color: #8db0db;
        font-weight: 600;
        text-align: center;
      }

      .about-policy p {
        margin: 10px 0 0 0;
        font-size: 15px;
        color: #445160;
        line-height: 24px
      }

      .about-cont h2 {
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 44px;
        color: #2f3e5c;
        font-weight: 600;
      }

      .about-cont { margin: 20px 0 36px 0; }

      .about-cont .wrap-cont {
        width: 50%;
        margin: 100px auto 0;
      }

      .about-cont .about-street,
      .about-cont .about-add {
        vertical-align: top;
        display: inline-block;
      }

      .about-cont .about-street {
        width: 42%;
        margin: 0 20px 0 0;
      }

      .about-cont .about-street p {
        margin: 0 0 25px 0;
        color: #4d4d4d;
        font-weight: 500;
        font-size: 28px;
      }

      .about-cont .about-street div {
        display: inline-block;
        vertical-align: top;
      }

      .about-cont .about-street > div {
        margin: 0 7%;}

        .about-cont .about-street span img {
          margin: 0 15% 0 7%;
          display: inline-block;
        }

        .about-cont .about-street span a {
          color: #000;
        }

        .about-cont .about-street p.about-us { margin: 50px 0 5px 0; }

        .about-cont .about-street span {
          font-size: 15px;
          font-weight: 600;
          display: block;
        }

        .about-cont .about-street p + span {
          margin: 10px 0;
        }

        .terms-content {
          margin: 70px 0 0 0;
          background-color: #fbfbfb;
        }

        .terms-content .wrapper { width: 80%; }

        .terms-content h2 {
          padding: 10px 0;
          font-size: 32px;
          color: #008ed6;
          text-align: center;
          font-weight: 600;
        }

        .terms-use h3 {
          margin: 15px 0;
          font-size: 24px;
          color: #008ed6;
        }

        .terms-use:last-child { padding: 0 0 30px 0; }

        /*content style end*/
