@charset "utf-8";

/* ==========================================================================
   CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

  a { outline: 0; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }


/*
========================================================================== */

/*Header style start*/

body {
  font-family: 'Open Sans', sans-serif;
}

a { text-decoration: none; }

li { list-style-type: none; }

header {
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

h1, nav, nav ul li {
  display: inline-block;
}

h1 {
  padding: 13px 0;
}

h1 a {
  font-size: 32px;
  font-weight: 900;
  color: #008ed6;
}

nav {
  float: right;
}

nav ul li {
  margin: 0 0 0 -3px;
}

nav ul li a {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  padding: 25px;
  display: inline-block;
}

nav ul li a:hover, .active {
  color: #fff;
  background: #008ed6;
}
/*Header style end*/

/*footer style starts*/

footer {
  width: 100%;
  background: #e0e0e0;
  color: #333;
  font-size: 14px;
}

.foot-content {
  padding: 50px 0;
}

.foot-content ul {
  display: inline-block;
  width: 33%;
  margin: 0 auto 30px;
  text-align: center;
}

.foot-content ul li {
  margin: 5px 0;
}

.foot-content ul li a, .foot-content p a {
  color: #000;
  font-weight: 500;
}

.foot-content ul li a:hover, .foot-content p a:hover {
  color: #008ed6;
}

.email, .call, .fb, .tw {
  display: inline-block;
}

.email, .call {
  width: 16px;
  height: 16px;
  margin: 3px 5px 0 0;
}

.email {
  background: url("../images/email.png");
}

.call {
  background: url("../images/call.png");
}

.fb, .tw {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}

.fb {
  background: url("../images/fb.png");

}
.tw {
  background: url("../images/tw.png");
}

.fb:hover, .tw:hover {
  opacity: 0.8;
}

.foot-content p {
  text-align: center;
  width: 60%;
  margin: 15px auto;
}

.foot-content p.pnote a {
  font-weight: 600;
  color: #008ed6;
}

.foot-content p.pnote a:hover {
  color: #037cb9;
}
/*footer style end*/

/*content style start*/

.container {
  width: 100%;
}

.main-content {
  background: url("../images/main-banner-2.jpg") top center;
  background-size: cover;
  width: 100%;
  height: auto;
  text-align: center;
  min-height: 850px;
}

.main-text {
  padding: 250px 0 374px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  /*background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);*/
}

.main-text h2 {
  font-size: 44px;
  color: #fff;
}

.main-text h3 {
  margin: 25px 0;
  font-size: 34px;
  color: #fff;
}

.main-text a {
  width: 170px;
  height: 70px;
  display: inline-block;
  background: #008ed6;
  color: #fff;
  vertical-align: top;
}

.main-text a + a {
  margin: 0 0 0 2%;
}

.main-text a:hover {
  background: #037cb9;
}

.btn-car,.btn-health {
  display: inline-block; 
  width: 50px;
  height: 50px;
}

.btn-car {
  margin: 10px 0 0 0;
  background: url("../images/icon-car.png");
}

.btn-health {
  margin: 10px 0 0 0;
  background: url("../images/icon-health.png");
}

.t-car, .t-health {
  color: #fff;
  font-weight: 600;
  vertical-align: top;
  display: inline-block;
  margin: 23px 0 0 22px;
}

.sketch-cont {
  width: 52%;
  margin: 0 auto;
  padding: 35px 0 56px 0;
}

.sketch-cont div {
  display: inline-block;
  text-align: center;
}

.sketch-cont div h3 {
  font-size: 30px;
  font-weight: 600;
}

.sketch-cont div p {
  width: 54%;
  margin: 0 auto
}

.ins-head {
  background: #008ed6;
  text-align: center;
}

.ins-head h2 {
  color: #fff;
  font-size: 32px;
  padding: 12px 0;
}

.list-insurance .ins-img {
  margin: 30px 0;
}

.list-insurance .ins-img img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.ins-thoug {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.ins-thoug p {
  font-size: 20px;
  margin: 40px 0;
  font-weight: 400;
}

.easy-wrap {
  width: 60%;
  margin: 60px auto;
}

.easy-wrap p {
  margin: 0 3%;
  display: inline-block;
}

.easy-wrap p img, .easy-wrap p span {
  display: block;
  text-align: center;
}

.easy-wrap p span {
  margin: 15px 0 0 0;
  font-size: 20px;
  font-weight: 600;
}

/*content style end*/
